li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.url_item {
    border: 1px solid grey;
    border-radius: 4px;
    width: 50%;
    height: 25px;
    margin: 10px auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 4px grey;
}

img {
    height: 100%;
    float: right;
    right: 0;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}
