.App {
  text-align: center;
}

#clear-all_btn {
  width: 175px;        
  height: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: red;
  color: white;
  border: 1px solid white;
  align-items: center;
  margin: 10px;
  border-bottom: 5px solid #BE0000;
  border-right: 5px solid #BE0000;
}

#clear-all_btn:active {
  border-top: 5px solid #BE0000;
    border-left: 5px solid #BE0000;
    border-bottom: 0;
    border-right: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
